
a {
  color: #00ab6b;
}

a, a:hover {
  transition: all 0.2s;
}

.main-heading {
  padding: 1rem 0;
}

.main-heading h1.site-title {
  font-family: Righteous, serif;
}

.main-heading h1.post-title {
  font-weight: 700;
  margin-bottom: 1rem;
}

section {
  margin-bottom: 20px;
}

.section-title h2 {
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 27px;
}

.section-title span {
  border-bottom: 1px solid rgba(0, 0, 0, .44);
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: -1px;
}

.list-recent .wrap-footer {
  font-size: 12px;
  margin-top: 30px;
}

.dot:after {
  content: "·";
  margin-left: 3px;
  margin-right: 3px;
}



.link-dark {
  color: rgba(0, 0, 0, .8);
}

.article-post {
  font-family: Merriweather, serif;
  font-size: 1.2rem;
  line-height: 1.8;
  color: rgba(0, 0, 0, .8);
}

blockquote {
  border-left: 4px solid #00ab6b;
  padding: 0 20px;
  font-style: italic;
  color: rgba(0, 0, 0, .5);
}

.article-post p, .article-post blockquote {
  margin: 0 0 1.5rem 0;
}

.featured-image {
  display: block;
  margin: 0 auto 1.5rem;
}

.svgIcon {
  vertical-align: middle;
}

@media (min-width: 1024px) {
  .share {
    position: fixed;
    display: block;
  }

  .share ul li {
    display: block;
  }
}

@media (max-width: 999px) {
  .list-featured-tag .wrap-thumbnail, .list-featured-tag .col-md-7 {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
  }

  .list-featured-tag .wrap-thumbnail {
    height: 250px;
  }

  .list-featured-tag .card {
    height: auto;
  }

  .list-featured-tag .wrap-footer {
    position: relative;
    margin-top: 30px;
  }

  .list-featured-tag .card-block {
    padding: 20px;
  }
}

@media (max-width: 1024px) {
  .post-top-meta .col-md-10 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .post-top-meta.author-page {
    text-align: center;
  }
}

.share, .share a {
  color: rgba(0, 0, 0, .44);
  fill: rgba(0, 0, 0, .44);
}

.gray-bg {
  background-color: #fafafa;
  padding: 40px 0 46px;
  position: relative;
}

.list-related .card {
  box-shadow: 0 1px 7px rgba(0, 0, 0, .05);
  border: 0;
}

.card {
  border-radius: 4px;
}

.card .img-thumb {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

ul.tags {
  list-style: none;
  padding-left: 0;
  margin: 0 0 3rem 0;
}

ul.tags li {
  display: inline-block;
  font-size: 0.9rem;
}

ul.tags li a {
  background: rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .6);
  border-radius: 3px;
  padding: 5px 10px;
}

ul.tags li a:hover {
  background: rgba(0, 0, 0, .07);
  text-decoration: none;
}

.marg-top-3rem {
  margin-top: 3rem;
}

.sep {
  height: 1px;
  width: 20px;
  background: #999;
  margin: 0px auto 1.2rem;
}

.btn.follow {
  border-color: #02B875;
  color: #1C9963;
  padding: 3px 10px;
  text-align: center;
  border-radius: 999em;
  font-size: 0.85rem;
  display: inline-block;
}

.btn.subscribe {
  background-color: #1C9963;
  border-color: #1C9963;
  color: rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
  border-radius: 30px;
  font-size: 0.85rem;
  margin-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.post-top-meta .btn.follow {
  margin-left: 5px;
  margin-top: -4px;
}

.alert-bar {
  box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, .0785);
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  padding: 14px 0;
  z-index: 1;
}

.form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .5);
}

.form-control:-moz-placeholder {
  color: rgba(0, 0, 0, .5);
}

.form-control::-moz-placeholder {
  color: rgba(0, 0, 0, .5);
}

.form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, .5);
}

.form-control::-ms-input-placeholder {
  color: rgba(0, 0, 0, .5);
}

.author-page h1 {
  font-weight: 700;
  font-size: 30px;
}

.post-top-meta.author-page .author-thumb {
  float: none;
}

.author-page .author-description {
  font-size: 1rem;
  color: rgba(0, 0, 0, .6);
}

.post-top-meta.author-page .btn.follow {
  padding: 7px 20px;
  margin-top: 10px;
  margin-left: 0;
  font-size: 0.9rem;
}

.gray-bg.author-page {
  border-top: 1px solid #f0f0f0;
}

.author-post-box {
  width: 760px;
  margin: 0 auto 1.5rem;
  max-width: 100%;
}

.author-post-box .img-thumb {
  width: 100%;
}

.social-links {
  margin: 1rem 0;
}

.social-links a {
  background: #666;
  color: #fff;
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  font-size: 12px;
}


.footer {
  border-top: 1px solid rgba(0, 0, 0, .05) !important;
  padding-top: 15px;
  padding-bottom: 12px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, .44);
  margin-top: 50px;
}
